.rs-panel-body,
.rs-panel-header {
  padding: 5px;
}

.rs-table-cell {
  background-color: unset;
}

.rs-navbar-brand {
  font-size: 14px;
}

.rs-radio-group-picker {
  border: unset;
  /* border-top: 1px solid var(--rs-border-primary); */
  /* border-bottom: 1px solid var(--rs-border-primary) */
}

.rs-radio-group-picker .rs-radio-checker > label {
  font-size: 12px;
}

body {
  margin-left: 10px;
  margin-right: 10px;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}