.rs-panel-body,
.rs-panel-header {
  padding: 5px;
}

.rs-table-cell {
  background-color: unset;
}

.rs-radio-group-picker {
  border: unset;
  border-top: 1px solid var(--rs-border-primary);
  border-bottom: 1px solid var(--rs-border-primary)

}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/ibmplexsans/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}